Repository chiq2045/strumenti-grades: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --list-different, eslint

wip: feat: add login
  src/components/login-button/index.tsx
  src/components/logout-button/index.tsx
Due: prettier --list-different, eslint

chore: replace nodemon with ts-node-dev
  .pnp.cjs
  .yarn/cache/@types-strip-bom-npm-3.0.0-495ea2cef5-cb165d0c2c.zip
  .yarn/cache/@types-strip-json-comments-npm-0.0.30-4d685379c3-829ddd3896.zip
  .yarn/cache/debug-npm-3.2.7-754e818c7a-b3d8c59407.zip
  .yarn/cache/dynamic-dedupe-npm-0.3.0-2bd097ed43-5178b99ad3.zip
  .yarn/cache/ignore-by-default-npm-1.0.1-78ea10bc54-441509147b.zip
  .yarn/cache/nodemon-npm-2.0.20-2fea8f7bf9-9fe8586824.zip
  .yarn/cache/nopt-npm-1.0.10-f3db192976-f62575acea.zip
  .yarn/cache/pstree.remy-npm-1.1.8-2dd5d55de2-5cb53698d6.zip
  .yarn/cache/rimraf-npm-2.7.1-9a71f3cc37-cdc7f6eacb.zip
  .yarn/cache/semver-npm-7.0.0-218e8c00ca-272c11bf8d.zip
  .yarn/cache/simple-update-notifier-npm-1.1.0-92878518a3-1012e9b6c5.zip
  .yarn/cache/strip-json-comments-npm-2.0.1-e7883b2d04-1074ccb632.zip
  .yarn/cache/touch-npm-3.1.0-e2eacebbda-e0be589cb5.zip
  .yarn/cache/tree-kill-npm-1.2.2-3da0e5a759-49117f5f41.zip
  .yarn/cache/ts-node-dev-npm-2.0.0-a9d487396c-d654b401de.zip
  .yarn/cache/tsconfig-npm-7.0.0-27f79fe1ca-8bce05e93c.zip
  .yarn/cache/undefsafe-npm-2.0.5-8c3bbf9354-f42ab3b577.zip
  .yarn/cache/xtend-npm-4.0.2-7f2375736e-ac5dfa738b.zip
  package.json
  yarn.lock
Due: prettier --write

chore: update error boundary
  src/components/error-boundary/index.tsx
Due: prettier --list-different, eslint

chore: fix typos; fix with prettier
  src/components/layout/header.tsx
  src/components/logout-button/index.tsx
Due: prettier --list-different, eslint

chore: update sdks
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
Due: none

feat: add loader for homerooms
  .pnp.cjs
  .yarn/cache/asynckit-npm-0.4.0-c718858525-7b78c451df.zip
  .yarn/cache/axios-npm-1.2.0-ad83373c57-f08ce214e9.zip
  .yarn/cache/combined-stream-npm-1.0.8-dc14d4a63a-49fa4aeb49.zip
  .yarn/cache/delayed-stream-npm-1.0.0-c5a4c4cc02-46fe6e83e2.zip
  .yarn/cache/form-data-npm-4.0.0-916facec2d-01135bf867.zip
  .yarn/cache/proxy-from-env-npm-1.1.0-c13d07f26b-ed7fcc2ba0.zip
  app/database/dev-db.ts
  app/routes/homerooms.ts
  package.json
  src/app.tsx
  src/components/error-boundary/index.tsx
  src/index.tsx
  src/utils/constants/index.ts
  src/utils/requests/homerooms.ts
  src/views/homerooms/index.tsx
  tsconfig.json
  types/index.ts
  yarn.lock
Due: prettier --write, prettier --list-different, eslint

feat: update homeroom type
  app/database/dev-db.ts
  src/views/homerooms/index.tsx
  types/index.ts
Due: prettier --list-different, eslint

feat: add table definition
  .pnp.cjs
  .yarn/cache/@react-stately-data-npm-3.8.0-cbeceba708-6dba8e6e28.zip
  .yarn/cache/react-stately-npm-3.19.0-925032631f-e6a1d84c35.zip
  package.json
  src/components/table/cell.tsx
  src/components/table/checkbox-cell.tsx
  src/components/table/column-header.tsx
  src/components/table/header-row.tsx
  src/components/table/index.tsx
  src/components/table/row-group.tsx
  src/components/table/row.tsx
  src/components/table/select-all-cell.tsx
  yarn.lock
Due: prettier --write, prettier --list-different, eslint

chore: make backend response more generic
  src/utils/constants/index.ts
  src/utils/requests/homerooms.ts
  types/index.ts
Due: prettier --list-different, eslint

chore: update prettier config and pre-commit hook
  .lintstagedrc.json
  .prettierrc.json
  src/components/error-boundary/index.tsx
  src/components/layout/header.tsx
  src/components/login-button/index.tsx
  src/components/logout-button/index.tsx
  src/components/table/index.tsx
  src/index.tsx
  src/views/no-match/index.tsx
Due: prettier --write, prettier --list-different, eslint

fix: sort homerooms by grade
  src/views/homerooms/index.tsx
Due: prettier --list-different, eslint

Path conditions:
  prettier --write: (any of: *.json) or (any of: webpack.*.ts)
  prettier --list-different: (((any of: app/**/*.ts) or (any of: src/**/*.ts)) or (any of: src/**/*.tsx)) or (any of: types/**/*.ts)
  eslint: (((any of: app/**/*.ts) or (any of: src/**/*.ts)) or (any of: src/**/*.tsx)) or (any of: types/**/*.ts)
